<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "mathCheatObjectValue" class="com.bl.di.MathCheat"></bean>
    <bean id = "scienceCheatObjectValue" class="com.bl.di.ScienceCheat"></bean>

    <bean id="stu" class="com.bl.di.Student">
        <property name="cheat" ref="mathCheatObjectValue" />
    </bean>

    <bean id="anotherStu" class="com.bl.di.AnotherStudent">
        <property name="cheat" ref="scienceCheatObjectValue"></property>
    </bean>

</beans>